.corrida-form__title {
    text-transform: uppercase;
    color: #888;
    width: 100%;
}

.corrida-form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.corrida-form__group label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
}

.corrida-form__group input {
    border: 1px solid #AAAAAA;
    border-radius: 8px;
    background-color: #FFF;
    height: 36px;
    padding: 0 10px;
}

.corrida-form__footer {
    display: flex;
    justify-content: space-between;
}

.corrida-form__link {
    border: 1px solid #3498DB;
    border-radius: 4px;
    color: #3498DB;
    text-decoration: none;
    padding: 8px 10px;
    white-space: nowrap;
    height: 10px;
    display: flex;
    align-items: center;
}

.corrida-form__button {
    border: 1px solid #3498DB;
    border-radius: 4px;
    color: #3498DB;
    text-decoration: none;
    padding: 8px 10px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}