.corrida-card {
    border-radius: 8px;
    border: 1px solid #C3C3C3;
    box-shadow: 0 2px 7px 0 rgba(0,0,0, 0.15);
    display: flex;
    padding: 15px;
    align-items: flex-end;
    position: relative;
}

.corrida-card__folder {
    width: 25%;
    margin-right: 20px;
}

.corrida-card__image {
    width: 100%;
    border-radius: 8px;
}

.corrida-card__info {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.corrida-card__title {
    font-size: 18px;
    color: #2C3E50;
}

.corrida-card__number__info {
    display: flex;
    flex-direction: column;
}

.corrida-card__date {
    margin-bottom: 10px;
}

.corrida-card__distance {
    margin-bottom: 10px;
}

.corrida-card__footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.corrida-card__link {
    border: 1px solid #3498DB;
    border-radius: 4px;
    color: #3498DB;
    text-decoration: none;
    padding: 8px 10px;
    white-space: nowrap;
    height: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.corrida-card__link__delete {
    border: unset;
    background-color: unset;
    color: #db4734;
    font-size: 16pt;
    position: absolute;
    top: 8px;
    right: 8px;
}